<html>
  <head>
    <title>PasswordUpload</title>
    <style>
        .container{
            border-radius: 4px;
            border-style: solid;
            border-color: aqua;
            height: auto;
            width: auto;
        }
    </style>
  </head>
  <body>
      {{alert_message}}
      {% for i in PasswordData %}
      <div class="container">
       <h3>{{i.UserName}}</h3>
       <h3>{{i.Email}}</h3>
       <h3>{{i.Password}}</h3>
       <form action="Add_password" method="POST">
           {% csrf_token %}
           <button type="submit" value="{{i.id}}" name="SelectedPassword">Add Password</button>
       </form>   
      </div>
      {% endfor %}
  </body>
</html>